block content
  head
    meta(charset='UTF-8')
    title= title
    meta(name='viewport' content='width=device-width, user-scalable=no')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='/main.css')
  label 로그인 되었습니다
  a#logout.btn(href='/auth/logout') 로그아웃
  a#logout.btn(href='/') 메인페이지로
